@font-face {
	font-family: "iconfont";
	/* Project id 2981222 */
	src: url('iconfont.woff2?t=1638614836831') format('woff2'),
		url('iconfont.woff?t=1638614836831') format('woff'),
		url('iconfont.ttf?t=1638614836831') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-yangshengqi:before {
  content: "\e607";
  font-size: 0.2rem;
}
.icon-renqun:before {
	content: "\e623";
	font-size: 0.4rem;
	opacity: 0.7;
}

.icon-qian:before {
	font-size: 0.4rem;
	opacity: 0.7;
	content: "\e602";
}

.icon-lianxiren:before {
	font-size: 0.25rem;
	content: "\e619";
}

.icon-aixin_shixin:before {
	content: "\eca1";
	font-size: 0.4rem;
	opacity: 0.7;
}

.icon-cheliangguanli:before {
	font-size: 0.25rem;
	content: "\e617";
}

.icon-sijiguanli:before {
	font-size: 0.25rem;
	content: "\e634";
}

.icon-fenxi:before {
	font-size: 0.25rem;
	content: "\e618";
}

.icon-gongju:before {
	font-size: 0.25rem;
	content: "\e6cf";
}

.icon-dashuju:before {
	font-size: 0.25rem;
	content: "\e666";
}

.icon-yewujianmo:before {
	font-size: 0.25rem;
	content: "\e606";
}

.icon-diqiu:before {
	font-size: 0.25rem;
	content: "\e60a";
}

.icon-tingchechang:before {
	font-size: 0.25rem;
	content: "\e6ca";
}

.icon-xianlu:before {
	font-size: 0.25rem;
	content: "\e63b";
}

.icon-weixin:before {
	font-size: 0.25rem;
	content: "\e63f";
}

.icon-dingwei:before {
	content: "\e62f";
}

.icon-shipin:before {
	font-size: 0.3rem;
	content: "\e64a";
}

.icon-ziyuanguanli:before {
	font-size: 0.25rem;
	content: "\e65d";
}

.icon-laba:before {
	font-size: 0.25rem;
	content: "\e628";
}

.icon-zhaoshangdaili:before {
	font-size: 0.25rem;
	content: "\e6f8";
}

.icon-shuaxin:before {
	font-size: 0.13rem;
	line-height: 0.15rem;
	content: "\eafd";
}

.icon-tousujianyi:before {
	font-size: 0.25rem;
	content: "\e632";
}

.icon-xitong:before {
	font-size: 0.25rem;
	content: "\e835";
}

.icon-qingdan:before {
	font-size: 0.25rem;
	content: "\e61a";
}

.icon-qingdanxinxishebeijichuxinxigongdanxinxi:before {
	content: "\e64b";
}

.icon-shuiziyuan:before {
	font-size: 0.25rem;
	content: "\e671";
}

.icon-paiban:before {
	font-size: 0.25rem;
	content: "\e60b";
}

.icon-piao:before {
	font-size: 0.25rem;
	content: "\e616";
}

.icon-yingjiguanli:before {
	font-size: 0.25rem;
	content: "\e633";
}

.icon-cccyunhujiaozhongxin:before {
	font-size: 0.25rem;
	content: "\e713";
}

.icon-shipin1:before {
	content: "\e601";
}

.icon-envelope-open-full:before {
	content: "\e983";
}

.icon-jingqu:before {
	font-size: 0.25rem;
	content: "\e69b";
}

.icon-lvhangjingqu:before {
	content: "\e605";
}

.icon-dangjian_bangongguanli:before {
	font-size: 0.25rem;
	content: "\e678";
}

.icon-bianmaguize:before {
	font-size: 0.25rem;
	content: "\e677";
}

.icon-xiaofei:before {
	font-size: 0.25rem;
	content: "\e786";
}

.icon-quanpingmu:before {
	content: "\e725";
}

.icon-shichanghuodong:before {
	content: "\e663";
	font-size: 0.28rem;
}

.icon-anquan:before {
	font-size: 0.26rem;
	content: "\e681";
}

.icon--fuwu:before {
	content: "\e8aa";
}

.icon-dianshidaping:before {
	font-size: 0.26rem;
	content: "\e603";
}

.icon-dapinglunxun:before {
	font-size: 0.28rem;
	content: "\e622";
}

.icon-jiankong:before {
	font-size: 0.28rem;
	content: "\e69e";
}

.icon-qiantaidaping:before {
	content: "\e627";
	font-size: 0.26rem;
}

.icon-dapingfuwu:before {
	content: "\e665";
}

.icon-lvyoufabu:before {
	font-size: 0.26rem;
	content: "\e600";
}

.icon-shichangzhixu:before {
	font-size: 0.26rem;
	content: "\e87b";
}

.icon-xietongzhihuidaping:before {
	font-size: 0.26rem;
	content: "\e631";
}

.icon-shichang:before {
	content: "\e60d";
	font-size: 0.26rem;
}

.icon-yingyong:before {
	font-size: 0.26rem;
	content: "\e604";
}

.icon-huanjingjiance:before {
	font-size: 0.26rem;
	content: "\e60f";
}
